body {
 font-family: Arial;
 color: SlateGrey;
}

#container {
 width: 60%;
 margin: auto;
}

h1 {
 font-size: 300%;
}

h2 {
 color: Green;
 text-transform: uppercase;
 font-weight: 100;
}

img {
 width: 100%;
}


footer {
 margin-top: 70px;
 background-color: Orange;
 color: White;
}

footer p {
 text-align: center;
 padding-top: 15px;
 padding-bottom: 15px;
}

@media screen and (max-width :768px)
{
#container {
 width: 90%;

}
h1
{
 font-size: 200%;
}

}
